<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 class="main_title"> *** <span class="text_solid">САМЫЙ ЛУЧШИЙ</span> *** <br>
        *** <span class="text_solid">ЯЗЫК ПРОГРАММИРОВАНИЯ</span> *** </h1>
    <li class="list_text"><span class="text_dashed">простой и понятный;</span></li>
    <li class="list_text"><span class="text_dashed">интересный;</span></li>
    <li class="list_text"><span class="text_dashed">лёгкий в изучении;</span></li>
    <li class="list_text"><span class="text_dashed">мощный инструмент программирования;</span></li>
    <li class="list_text"><span class="text_dashed">самый популярный язык программирования.</span></li>
    <a href="/parsing.html" class="btn">ПАРСИНГ PYTHON</a>
    <a href="/resume.html" class="btn">РЕЗЮМЕ</a>
</body>
</html>