<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Парсинг hh.ru</title>
    <link href="/static/css/parsing.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 class="parsing_title">ПАРСИНГ САЙТА HEAD HUNTER<br>С ПОМОЩЬЮ PYTHON</h1>
    <div class="rect">Выберите город</div>
    <select class="select" name="city">
        <option value="1">Москва</option>
        <option value="2">Санкт-Петербург</option>
        <option value="3">Новосибирск</option>
    </select> <br> <br>
    <div class="rect">Выберите вакансию</div>
    <select class="select" name="prof">
        <option value="1">Программист</option>
        <option value="2">Повар</option>
        <option value="3">Водитель</option>
    </select> <br>
    <a href="/index.html" class="btn">ГЛАВНАЯ СТРАНИЦА</a>
    <a href="/resume.html" class="btn">РЕЗЮМЕ</a>
</body>
</html>