<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Парсинг hh.ru</title>
    <style>
    body {
        background-image: url('/static/images/head_hunter.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        }
    </style>
    <link href="/static/css/parsing.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/index.html" class="btn">ГЛАВНАЯ СТРАНИЦА</a>
    <a href="/resume.html" class="btn">РЕЗЮМЕ</a>
</body>
</html>