{% extends 'base.html' %}

{% block title %}
Резюме
{% endblock %}

{% block css %}
<link href="/static/css/resume.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <a href="/index.html" class="btn">ГЛАВНАЯ СТРАНИЦА</a>
    <a href="/parsing.html" class="btn">ПАРСИНГ PYTHON</a>
    <h1 class="txt"> Голубев Дмитрий Анатольевич </h1>
    <table>
        <tr><th class="txt">Опыт работы:</th><th class="txt">Описание:</th></tr>
        <tr><td class="table">2007 - 2010</td><td class="table">Установка и настройка спутниковых антенн ТВ и Интернет</td></tr>
        <tr><td class="table">2010 - 2019</td><td class="table">Ремонт компьютеров, ноутбуков, планшетов. Монтаж систем видеонаблюдения</td></tr>
        <tr><td class="table">2019 - настоящее время</td><td class="table">Ведущий инженер-программист Абаканвагонмаш</td></tr>
        <tr><th class="txt">Умения и навыки:</th></tr>
        <tr><td class="table">Компьютеры</td><td class="table">Профессиональный ремонт компьютеров и ноутбуков</td></tr>
        <tr><td class="table">ЛВС<td class="table">Знание локальных вычислительных сетей</td></tr>
        <tr><td class="table">Роутеры</td><td class="table">Настройка wi-fi роутеров, в том числе и Mikrotik</td></tr>
        <tr><td class="table">Сервера</td><td class="table">Умение работать с доменной структурой Active Directory</td></tr>
        <tr><td class="table">Криптозашита</td><td class="table">Умение работать с сервисами криптозащиты Crypto PRO</td></tr>
        <tr><td class="table">Windows</td><td class="table">Знание операционных систем семейства Windows</td></tr>
        <tr><th class="txt">Личные качества:</th></tr>
        <tr><td class="table"></td><td class="table">Ответственность, исполнительность</td></tr>
        <tr><td class="table"></td><td class="table">Быстрая обучаемость</td></tr>
        <tr><th class="txt">Дополнительно:</th></tr>
        <tr><td class="table"></td><td class="table">Веду здоровый образ жизни</td></tr>
        <tr><td class="table"></td><td class="table">Наличие водительского удостоверения категории B</td></tr>
        <tr><td class="table"></td><td class="table">Наличие личного авто Honda CR-V</td></tr>
    </table>




{% endblock %}