<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <style>
    body{
        background-image: url('/static/images/autumn.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        }
    </style>
    <link href="/static/css/resume.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/index.html" class="btn">ГЛАВНАЯ СТРАНИЦА</a>
    <a href="/parsing.html" class="btn">ПАРСИНГ PYTHON</a>
</body>
</html>