{% extends 'base.html' %}

{% block title %}
Резюме
{% endblock %}

{% block css %}
<link href="/static/css/resume.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <a href="/index.html" class="btn">ГЛАВНАЯ СТРАНИЦА</a>
    <a href="/parsing.html" class="btn">ПАРСИНГ PYTHON</a>
    <h1 class="txt"> Голубев Дмитрий Анатольевич </h1>
    <table>
        <tr><th class="txt">Опыт работы:</th><th class="txt">Описание</th></tr>
        <tr><td class="txt">2007 - 2010</td><td class="txt">Установка и настройка спутниковых антенн ТВ и Интернет</td></tr>
        <tr><td class="txt">2010 - 2019</td><td class="txt">Ремонт компьютеров, ноутбуков, планшетов. Монтаж систем видеонаблюдения</td></tr>
        <tr><td class="txt">2019 - настоящее время</td><td class="txt">Ведущий инженер-программист Абаканвагонмаш</td></tr>
    </table>

{% endblock %}